.nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.9em;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrapper-column{
    display: flex;
    justify-content: space-around;
    padding: 0.2em 0.9em;
    flex-grow: 1;
    /* gap: 2.5em; */
}
app-column{
   flex: 1; /* flex-grow and flex-basis*/
   max-width: calc((100% - 8em) / 3);
}
button{
    background-color: var(--btn-bg);;
    padding: 12px 8px;
    border-radius: 4px;
    border: none;
    color: var(--btn-text);
    font-weight: 600;
    box-shadow: 0px 2px 4px var(--btn-shadow);
}
button:active{
    box-shadow: 0 0 0 transparent;
    background-color: var(--btn-hover);
    transform: translateY(2px);
}
app-modal{
    position: absolute;
}