<div class="container" (click)="triggerModal()" *ngIf="isOpen">
    <div class="form-wrapper" (click)="$event.stopPropagation()">
        <h3>Task Info</h3>
        <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="titletext">
                <label for="titleid">Title</label>
                <input type="text" id="titleid" formControlName="title">
                <span style="color: red;" *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched && taskForm.get('title')?.hasError('minlength')">Title required</span>
            </div>
            <div class="desctext">
                <label for="desc">Description</label>
                <input type="text" id="desc" formControlName="desc">
                <span style="color: red;" *ngIf="taskForm.get('desc')?.invalid && taskForm.get('desc')?.touched">Description required</span>
            </div>
            <div class="status-options">
                <label for="status">Status</label>
                <div class="options">
                    <div class="status-radio">
                        <input type="radio" name="status" id="todo" value="todo" formControlName="status">
                        <label for="todo">Todo</label>
                    </div>
                    <div class="status-radio">
                        <input type="radio" name="status" id="doing" value="doing" formControlName="status">
                        <label for="doing">Doing</label>
                    </div>
                    <div class="status-radio">
                        <input type="radio" name="status" id="done" value="done" formControlName="status">
                        <label for="done">Done</label>
                    </div>
                </div>
            </div>
            <button [disabled]="!taskForm.valid" type="submit">Add</button>
        </form>
    </div>
</div>