.column{
    background-color: var(--bg-column);
    height: 99%;
    text-align: center;
    border-radius: 16px;
    padding: 0.4em 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--border-column);
}
.column-body{
    flex-grow: 1;
}
